<%- include('./includes/head.ejs') %>
<ul class="nav nav-tabs">
    <li class="active"><a id="home">TicTacToe</a>
    </li>
    <li class=""><a id="home">Chess</a>
    </li>
</ul>
<% for(let i=0; i<my_rooms.length; i++) {%>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <%= my_rooms[i].Game.name %>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="form-group input-group-btn">
                        <button class="btn btn-default" type="button">Title:</button>
                      </span>
                    <input type="text" class="form-control" readonly value="<%= my_rooms[i].game_title%>">
                </div>
                <br>
                <div class="input-group">
                    <span class="form-group input-group-btn">
                        <button class="btn btn-default" type="button">Player1:</button>
                      </span>
                    <input type="text" class="form-control" readonly value="<%= my_rooms[i].player1_id == null  ? '' : my_rooms[i].Player1.email %>">
                </div>
                <br>
                <div class="input-group">
                    <span class="form-group input-group-btn">
                        <button class="btn btn-default" type="button">Player2:</button>
                      </span>
                    <input type="text" class="form-control" readonly value="<%= my_rooms[i].player2_id == null ? '' : my_rooms[i].Player2.email %>">
                </div>
                <br>
                <div class="input-group">
                    <span class="form-group input-group-btn">
                        <button class="btn btn-default" type="button">Status:</button>
                      </span>
                    <input type="text" class="form-control" readonly 
                        value="Waiting for join"
                    >
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-info col-xs-offset-4 col-xs-4">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
<script src="assets/js/my_turns.js"></script>
<%- include('./includes/end.ejs') %>