<%- include('./includes/head.ejs') %>
<div class="row">
     <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
          <div class="panel panel-info">
               <div class="panel-heading">
               Profile
               </div>
               <div class="panel-body">
                    <form role="form">
                         <div class="form-group">
                              <label>Your Email</label>
                              <input id="user_email" readonly class="form-control" type="text" value="<%= my_email %>" />
                              <div id="alert_area_user_email">
                              </div>
                         </div>
                         <div class="form-group">
                              <label>First Name</label>
                              <input id="user_firstName" class="form-control" type="text" value=<%= firstname %> > </input>
                              <div id="alert_area_user_name">
                              </div>
                         </div>
                         <div class="form-group">
                              <label>Last Name</label>
                              <input id="user_lastName" class="form-control" type="text" value=<%= lastname %> > </input>
                              <div id="alert_area_user_name">
                              </div>
                         </div>
                         <div class="form-group">
                              <label>Enter Password</label>
                              <input id="user_password" class="form-control" type="password" value=<%= password %>/>
                              <div id="alert_area_user_password">
                              </div>
                         </div>
                         <div class="form-group">
                              <label>Confirm Password</label>
                              <input id="user_confirmPassword" class="form-control" type="password" value=<%= password %>/>
                              <div id="alert_area_user_password">
                              </div>
                         </div>
                         <div class="form-group">
                              <label>Notification</label>
                              <select id="user_notification" class="form-control" value=<%= notification %>>
                                   <option value=0 "<%= notification == 0 ? 'selected' : '' %>">One Vale</option>
                                   <option value=1 "<%= notification == 1 ? 'selected' : '' %>">Two Vale</option>
                                   <option value=2 "<%= notification == 2 ? 'selected' : '' %>">Three Vale</option>
                              </select>
                         </div>
                         <button id="reset" type="button" class="btn btn-info">Change </button>
                         <div id="alert_area_reset_failed">
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
<script src="assets/js/profile.js"></script>
<%- include('./includes/end.ejs') %>